<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/config.css">
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <div class="header">
    <img src="/imagenes/index/falg.png" style=" margin-left: auto;margin-right: auto;">
  </div>
</head>

<body>
  <nav id="menuarriba" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FALG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul id="navbar" class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/index/index" style="color: white;">Inicio <span{{userlogged.email}}
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/foro/foro/1/Todos" style="color: white;">Foro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/index/estadisticas"  style="color: white;">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/index/descarga" style="color: white;">Descarga</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white;">
            Ayuda
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://localhost:3000/index/soporte">Soporte</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:3000/index/formulario">Generar reporte</a>
          </div>
        </li>
        {{#if userlogged}}
        <li class="nav-item" id="conectado">
          <a class="nav-link" href="http://localhost:3000/users/perfil/{{userlogged.id}}" style="color: white;">Perfil</a>
        </li>
        <li class="nav-item" style="padding-left: 413px;padding-top: 2px;">
          <a id="cerrarsesion" href="/users/logout" class="btn btn-danger"
            style="color: white;" role="Cerrarsesion">Cerrar Sesión</a>
        </li>
        {{else}}
        <li id="ingresar" class="nav-item" style="margin-left: 500px; padding-top: 2px;">
          <a class="btn btn-danger" style="color: white;" 
            href="http://localhost:3000/users/ingreso" role="Ingresar">Ingresar</a>
        </li>
        {{/if}}
      </ul>
      <div class="buscador" id="buscador" style="display: flex;">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar jugador/partida" aria-label="Search" id="buscar">
          <div class="filtro" style="width: auto; position: relative">
            <button class="boton2 boton2-secundario dropdown-toggle" type="button" id="dropdownMenu2" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: 1px solid transparent; padding: .375rem .75rem; border-radius: .25rem;color: #fff; background-color: #6c757d; border-color: #6c757d;">Tipo</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="filtro">
              <button class="dropdown-item" onclick="getter('1')">Partidas</button>
              <button class="dropdown-item" onclick="getter('2')">Clases</button>
              <button class="dropdown-item" onclick="getter('3')">Perfiles</button>
              <button class="dropdown-item" onclick="getter('4')">Publicaciones</button>
              <button class="dropdown-item" onclick="getter('5')">Items</button>
            </div>
          </div>
          <button class="btn btn-outline-danger" type="submit" style="margin-left: 15px;">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  {{{body}}}
  <hr style="height: 10vh;margin-right:2000px">

  <footer style="padding-top: 20px;">
    <div id="footer" class="footer">
      <div class="row d-flex align-items-center" style="background-color:#0e0c0c">
        <div class="col-4">
          <div class="row d-flex align-items-center">
            <a class="col-3 text-white" href="http://localhost:3000/index/terminosycondiciones">Contacto</a>
            <a class="col-3 text-white" href="http://localhost:3000/index/terminosycondiciones">Terminos y
              condiciones</a>
          </div>
        </div>
        <!--FUA MIRA ESTE TRUCO SAQUE COMO COMENTAR EN HTML CALATE ESTA PELOTUDO-->
        <div class="col-4">
          <img src="/imagenes/index/falg_footer.png" style="padding-top: 10px;">
          <div style="padding-right: 10px;">©2020 Arne, Inc.</div>
          <div style="padding-right: 10px;">All Rights Reserved</div>
        </div>
        <div class="col-4">
          <a href="https://facebook.com/"><img src="https://www.flaticon.es/svg/static/icons/svg/179/179319.svg" style=" width: 70px;"> </a>
          <a href="https://twitter.com/"><img src="https://www.flaticon.es/svg/static/icons/svg/145/145812.svg" style=" width: 70px;"> </a>
          <a href="https://gmail.com/"><img src="https://www.flaticon.es/svg/static/icons/svg/732/732200.svg" style=" width: 70px;"></a>
          <a href="http://localhost:3000/index/descarga"><img src= "https://i.postimg.cc/YCb1PwwK/sa.pngstyle=" style="width: 70px;"> </a>
          <div class=row>
            <div class=row>
            </div>
          </div>
        </div>
      </div>
  </footer>
</body>
</html>

<script>
  function getter(x) {
    a = x;
    console.log(a);
      return a;
  }
  $(document).ready(function () {
    $('#buscador').on('submit', function (event) {
      event.preventDefault();
      location.href = "http://localhost:3000/index/buscador";
      $.ajax({
        url: 'http://localhost:3000/buscador',
        type: 'POST',
        data: {
          search: $("#buscar").val().toLowerCase(),
          filter: a
        }
      });
    });
  });
</script>
