<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/config.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <div class="header">
    <img src="/imagenes/index/falg.png" style=" margin-left: auto;
    margin-right: auto;">
  </div>
</head>

<body>
  <nav id="menuarriba" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FALG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul id="navbar" class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/index/index" style="color: white;">Inicio <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/foro/foro" style="color: white;">Foro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/estadisticas/cosa" style="color: white;">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/index/descarga" style="color: white;">Descarga</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white;">
            Ayuda
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://localhost:3000/index/soporte">Soporte</a>
            <a class="dropdown-item" href="http://localhost:3000/index/formulario">Generar reporte</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:3000/index/faq">FAQ</a>
          </div>
        </li>
        <li class="nav-item" id="conectado">

        </li>
        <li id="ingresar" class="nav-item" style="padding-left: 485px;padding-top: 2px;">
          <a class="btn btn-secundary" style="background-color: #666666;color: white;" href="http://localhost:3000/users/ingreso"
            role="Ingresar">Ingresar</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar jugador/partida" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
  {{{body}}}
  <hr style="height: 10vh">
  <footer style="padding-top: 20px;">
    <div id="footer" class="footer">
      <div class="row d-flex align-items-center" style="background-color:#0e0c0c">
        <div class="col-4">
          <div class="row d-flex align-items-center">
            <a class="col-3 text-white" href="http://localhost:3000/index/terminosycondiciones">Contacto</a>
            <a class="col-3 text-white" href="http://localhost:3000/index/terminosycondiciones">Terminos y condiciones</a>
          </div>
        </div><!--FUA MIRA ESTE TRUCO SAQUE COMO COMENTAR EN HTML CALATE ESTA PELOTUDO-->
        <div class="col-4">
          <img src="/imagenes/index/falg_footer.png" style="padding-top: 10px;">
          <div style="padding-right: 10px;">©2020 Arne, Inc.</div>
          <div style="padding-right: 10px;">All Rights Reserved</div>
        </div>
        <div class="col-4">
          <img src="/imagenes/index/facebook.png" style=" width: 100px;">
          <img src="/imagenes/index/twitter.png" style=" width: 70px;">
          <img src="/imagenes/index/gmail.png" style=" width: 75px;">
          <div class=row>
            <div class=row>
            </div>
          </div>
        </div>
      </div>
  </footer>
</body>

</html>
<script>
  cuentas = [];
  $(document).ready(function () {
    $.get("http://localhost:3000/users/", function (informacion) {
      cuentas = informacion.cuentas;
      //console.log(cuentas[0]);//la id de la bd empieza desde 0 y no puedo conecta la id del usuario ya que empieza desde 1
    });
    $.get("http://localhost:3000/users/logueado", function (informacion) {
      var cuentaconectada = informacion.idconectado;
      if (cuentas[cuentaconectada].connect == 1) {
        $("#ingresar").remove();
        $("#conectado").append(
          '<a class="nav-link" href="http://localhost:3000/users/perfil" style="color: white;">Perfil</a>'
        );
        $("#navbar").append(
          '<li class="nav-item" style="padding-left: 420px;padding-top: 2px;">' +
          '<a id = "cerrarsesion"class="btn btn-secundary" style="background-color: #666666;color: white;""' +
          'role="Cerrarsesion">Cerrar Sesión</a>' +
          '</li>'
        );
        $('#cerrarsesion').click(function () {
          $.ajax({
            url: "http://localhost:3000/users/login",
            type: "PUT",
            data: {
              usuarioid: cuentaconectada,
              conectado: false
            },
            success: function (result) {
              alert("Sesión cerrada con éxito!");
              location.reload();
              location.href = "http://localhost:3000/index/index"
            },
          });
        });
      }
      else {
        $("#cerrarsesion").remove();
      }
    });
  });
</script>