
#arriba{
    padding-left: 800px;
}
#tnombre{
    text-align: center;
    font-size: 100px;
}
#menuarriba{
    padding-left: 300px;
    padding-right: 300px;
    ;
}
#posts{
    padding-left: 200px;
}
