#contenedor{
    padding-top: 100px;
}
#arriba{
    padding-left: 800px;
    padding-top: 10px;
}
#arne{
    padding-top: 0px;
}
#tnombre{
    text-align: center;
    font-size: 100px;
}
#menuarriba{
    padding-left: 300px;
    padding-right: 300px;
    ;
}