.filtro { 
    width: auto;
    position: relative;
  }
  .boton2{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}
.boton2-secundario {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.titulobuscador {
    margin-top: 50px;
  }
.titulopartidas {
  margin-top: 20px;
}
.partidas {
  border: 2px solid transparent;
  border-color: slategray;
  border-radius: 10px;
  display: block;
  margin-top: 15px;
}
.tituloclases {
  margin-top: 20px;
}
.clases {
  border: 2px solid transparent;
  border-color: slategray;
  border-radius: 10px;
  display: block;
  margin-top: 15px;
}
.tituloperfiles {
  margin-top: 20px;
}
.perfiles {
  border: 2px solid transparent;
  border-color: slategray;
  border-radius: 10px;
  display: block;
  margin-top: 15px;
}
.titulopubli {
  margin-top: 20px;
}
.publicaciones {
  border: 2px solid transparent;
  border-color: slategray;
  border-radius: 10px;
  display: block;
  margin-top: 15px;
}
.tituloitems {
  margin-top: 20px;
}
.items {
  border: 2px solid transparent;
  border-color: slategray;
  border-radius: 10px;
  display: block;
  margin-top: 15px;
}