<title>Buscador</title>
  <div class="container">

    <div class="titulobuscador">
      <h2>Resultados</h3>
    </div>

    <div class="titulopartidas" style="margin-top: 20px;">
      <h3>Partidas</h2>                    
    </div>
    <div class="partidas" style="border: 2px solid transparent; border-color: slategray; border-radius: 10px; display: block; margin-top: 15px;">

    </div>

    <div class="tituloclases" style="margin-top: 20px;">
      <h3>Clases</h2>                    
    </div>
    <div class="clases" style="border: 2px solid transparent; border-color: slategray; border-radius: 10px; display: block; margin-top: 15px;">

    </div>

    <div class="tituloperfiles" style="margin-top: 20px;">
      <h3>Perfiles</h2>                    
    </div>
    <div class="perfiles" style="border: 2px solid transparent; border-color: slategray; border-radius: 10px; display: block; margin-top: 15px;">

    </div>

    <div class="titulopubli" style="margin-top: 20px;">
      <h3>Publicaciones</h2>                    
    </div>
<<<<<<< Updated upstream

=======
    <div class="publicaciones" style="border: 2px solid transparent; border-color: slategray; border-radius: 10px; display: block; margin-top: 15px;">

    </div>
    
    <div class="tituloitems" style="margin-top: 20px;">
      <h3>Items</h2>                    
    </div>
    <div class="items" style="border: 2px solid transparent; border-color: slategray; border-radius: 10px; display: block; margin-top: 15px;">

    </div>         
  </div>
  <style>
        h3 { color: yellow; }
        h2 { color: yellow  }
  </style>
>>>>>>> Stashed changes
</div>

<script>
  var busqueda;
  var infoGeneral;
    $(document).ready(function () {
      $.get("http://localhost:3000/inicio/b", function( informacion ){
        busqueda = informacion;
        console.log(busqueda);
      });
      $.get("http://localhost:3000/buscador", function( informacion ){
        infoGeneral = informacion;
        console.log(infoGeneral);
        informacion.forEach(function(x){
          x.forEach(function(y){
            console.log(y.infoPartidas);
          });
        });
      });
    });
</script>