<title>Crear Publicación</title>
{{#unless userlogged}}
  <h1 style="color: white;text-align: center;margin-top:100px">Debes iniciar sesión para poder crear una publicación</h1>
  <li id="ingresar" class="nav-item" style="text-align: center;padding-top: 20px;">
    <a class="btn btn-danger btn-lg" style="color: white; size: 200%" 
      href="http://localhost:3000/users/ingreso" role="Ingresar">Iniciar Sesión</a>
  </li>
  <hr style="height: 8vh">
{{/unless}}
{{#if userlogged}}
<div style="padding-left: 600px;padding-top: 20px;width: 1300px;color: white;">
    <div style="text-align: center;" >
      <h1>Crear publicación</h1>
    </div>
    <form class="was-validated">
      <div class="col-md-6 mb-3" style="padding-left: 0px;">
        <label for="validationServer01">Título</label>
        <input type="text" class="form-control is-valid" id="titulo" placeholder="Debe contener entre 4 y 60 caracteres" required style="width: 700px;">
        <div class="valid-feedback">
          Título valido
        </div>
      </div>
      <div class="mb-3">
        <p id= "iduser" hidden>{{userlogged.id}}</p>
        <label for="validationTextarea">Descripción</label>
        <textarea class="form-control is-invalid" id="descripcion"
          placeholder="Debe contener entre 10 y 1000 caracteres" style="height: 300px;"></textarea>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="mb-3">
            <h6>Elige el tipo de filtro</h6>
            <select id="filter" class="custom-select">
              <option value="">Filtro...</option>
              <option value="Build">Build</option>
              <option value="Guia">Guía</option>
              <option value="Lores">Lore</option>
            </select>
            <div class="invalid-feedback">Filtro obligatorio</div>
          </div>
        </div>
        <div class="col-sm">
          <h6>Escoge una imagen</h6>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFileLang" lang="es">
            <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
          </div>
        </div>
      </div>
      <div style="text-align: center;">
        <button id= "crearpublicacion" type="submit" class="btn btn-secundary"
          style="background-color: #666666;color: white;width: 200px;height: 50px;" role="publicar">Subir
          publicación</button>
      </div>
    </form>
</div>
{{/if}}
<script>
  $(document).ready(function () {
    //var cosa = $('titulo').characterCounter() la funcion esta no anda fijate bien despueshttps://mdbootstrap.com/snippets/jquery/temp/2530264?action=prism_export#js-tab-view
    /*console.log(cosa)
    if($('titulo').characterCounter() < 4 && $('titulo').characterCounter() > 60){
      alert("El titulo ingresado no cumple con los requisitos del campo");
      return 0;
    }*/
    console.log($("#filter").val())
    $('#crearpublicacion').on('click', function (event) {
      event.preventDefault();
      $.ajax({
        url: 'http://localhost:3000/foro/publicaciones',
        type: 'POST',
        data: {
          title: $("#titulo").val(),
          description: $("#descripcion").val(),
          iduser : $("#iduser").text(),
          filter: $("#filter").val(),
          likes: 0,
          dislikes: 0
        },
        success: function (result) {
          alert("Publicacion creada correctamente!");
          location.href = "http://localhost:3000/foro/foro/1/Todos"
        }
      });
    });
  });
</script>