<title>Descarga</title>
<div
    style="background-image: url(https://web2.hirez.com/smite/v3/img/community-bg.jpg); padding-top: 10%; padding-bottom: 3%; margin-bottom: -150px">
    <h1
      style="text-align: center; letter-spacing: 5px; color: #deba50; font-family: Penumbra HalfSerif Std Bold; font-style: bold; font-size: 100px;">
      DESCARGAR FALG</h1>
    <div class="button_div"><button class="button" style="background-color: #0e0c0c; color: white;"><img
          src="/imagenes/descargas/epic.png"> Epic Store</button></div>
    <div class="button_div"><button class="button" style="background-color: #292838; color: white;"><img
          src="/imagenes/descargas/steam.png"> Steam</button></div>
    <div class="button_div"><button class="button" style="background-color: #230edf; color: white;"><img
          src="/imagenes/descargas/playstation.png"> Playstation</button></div>
    <div class="button_div"><button class="button" style="background-color: #107c10; color: white;"><img
          src="/imagenes/descargas/xbox.png"> Xbox</button></div>
    <div class="button_div"><button class="button" style="background-color: #bb191b; color: white;"><img
          src="/imagenes/descargas/nintendo.png"> Nintendo</button></div>
    
    <div class="container">
      <div class="row", style="padding-top: 10%">
        <div class="col-1" ><img src="https://web2.hirez.com/smite/v3/img/pegi-rating.jpg"></img></div>
        <div class="col-2" ><img src="https://web2.hirez.com/smite/v3/img/esrb-rating.jpg"></img></div>
      <div class="w-100"></div>
      <li style="color:white">Sangre</li>
      <li style="color:white">Violencia</li>
      <li style="color:white">Temas Sugerentes</li>
      </div>
    </div>

  <style>
    .button {
      width: 300px;
      height: 80px;
      font-family: Penumbra Half Serif;
    }

    .button_div {
      padding-left: 780px;
      padding-bottom: 10px;
    }
  </style>
</div>
