<title>Estadisticas</title>
<div class="container">
  <div class="titulobuscador" style="margin-top: 50px;">
    <h3>Buscar jugador</h3>
  </div>
  <div class="buscador" id="buscadorjugador" style="
  display: flex; 
  position: relative; 
  width: auto; 
  padding-right: 15px; 
  padding-left: 0px;">
    <form class="col-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" id="buscarjugador" aria-label="Search">
      <button class="boton" type="submit" id="botonbuscar" style="
      margin-top: 10px;
      display: inline-block;
      font-weight: 500;
      text-align: center;
      background-color: transparent;
      border: 2px solid transparent;
      padding: 0.375rem 0.75rem;
      border-radius: 5px;
      color: #28a745;
      border-color: #28a745;">Buscar</button>
    </form>
    <div class="validacion" id="valid" style="
    width: 175px;
    margin-top: .25rem;
    color: red;">
    </div>
    <div class="filtro" style="
    width: 10%;
    position: relative;
    left: 380px;">
      <button class="boton2 boton2-secundario dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="
        border: 1px solid transparent;
        padding: .375rem .75rem;
        border-radius: .25rem;color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;">Clases</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="filtro" style="min-width: 5rem;">
        <button class="dropdown-item" onclick="filtrar('1')">Clase 1</button>
        <button class="dropdown-item" onclick="filtrar('2')">Clase 2</button>
        <button class="dropdown-item" onclick="filtrar('3')">Clase 3</button>
        <button class="dropdown-item" onclick="filtrar('4')">Clase 4</button>
        <button class="dropdown-item" onclick="filtrar('5')">Clase 5</button>
      </div>
    </div>
  </div>
  <div class="cosodearriba" style="
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 10px;">
    <div class="cosodearribaItems" style="
    padding: 5px;
    margin-left: 20px;
    width: 350px;
    color: antiquewhite;
    text-align: center;">Items</div>
    <div class="cosodearribaIconoPJ" style="
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 53px;
    color: antiquewhite;
    text-align: center;">Clase</div>
    <div class="cosodearribaNombre" style="
    padding: 5px;
    font-size: medium;
    width: 100px;
    color: antiquewhite;
    text-align: center;">Nombre</div>
    <div class="espacioparacosodearriba" style="
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    color: antiquewhite;
    text-align: center;"></div>
    <div class="cosodearribaNombre" style="
    padding: 5px;
    font-size: medium;
    width: 100px;
    color: antiquewhite;
    text-align: center;">Nombre</div>
    <div class="cosodearribaIconoPJ" style="
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 53px;
    color: antiquewhite;
    text-align: center;">Clase</div>
    <div class="cosodearribaItems-2" style="
    padding: 5px;
    margin-right: 20px;
    width: 350px;
    color: antiquewhite;
    text-align: center;">Items</div>
  </div>

  <div id="game">

  </div>

  <h2 class="mt-4">Clases con ratio más alto</h2>
  <div class="fila-2" id="class" style="
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 10px;">
  </div>

  <h2 class="mt-4">Jugadores con ratio más alto</h2>
  <div class="fila-2" id="player" style="
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 10px;">
  </div>
</div>

<style>
  .header {
    text-align: center;
    background: #0e0c0c;
    font-size: 30px;
  }

  h3,
  h2 {
    color: yellow;
  }

  h1 {
    color: white;
  }
</style>

<script>
  var partidas = []
  var partidasBuscadas = []

  function mostrarPartida(partida) {
    //console.log(partida.clases);
    $("#game").append(
      ' <div class="fila" style="' +
      ' border-top: 2px solid rgba(7, 7, 7, 0.2);' +
      ' border-bottom: 2px solid rgba(7, 7, 7, 0.2);' +
      ' display: flex;' +
      ' -ms-flex-wrap: wrap;' +
      ' flex-wrap: wrap;' +
      ' margin-right: -15px;' +
      ' margin-left: -15px;' +
      ' margin-top: 10px;' +
      ' margin-bottom: 10px;">' +

      '    <a href="http://localhost:3000/index/items">' +
      '  <div class="columna-1-1" style="' +
      '  display: flex;' +
      '  margin-top: 10px;' +
      '  margin-bottom: 10px;' +
      '  padding: 5px;' +
      '  margin-left: 20px;' +
      '  width: 350px;' +
      '  background-color: rgba(86, 61, 124, .15);' +
      '  border: 1px solid rgba(86, 61, 124, .2);' +
      '  color: antiquewhite;' +
      '  text-align: center;"> ' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,6) + '" width="40" height="40"></div>' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,5) + '" width="40" height="40"></div>' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,4) + '" width="40" height="40"></div>' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;' +
      '     data-toggle= "tooltip";' +
      '     data-placement="top";' +
      '     title="Tooltip on top";"><img src= "' + devolverItem(partida.items,3) + '" width="40" height="40"></div>' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,2) + '" width="40" height="40"></div>' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,1) + '" width="40" height="40"></div>' +
      '  </div> ' +
      '   </a>' +

      '   <div class="columna-2" style=" ' +
      '   margin-right: 10px; ' +
      '   margin-left: 10px; ' +
      '   margin-top: 10px; ' +
      '   margin-bottom: 10px; ' +
      '   padding: 5px; ' +
      '   padding-top: 10px; ' +
      '   width: 53px; ' +
      '   background-color: rgba(86, 61, 124, .15); ' +
      '   border: 1px solid rgba(86, 61, 124, .2); ' +
      '   color: antiquewhite;"><img src= "' + devolverClase(partida.clases,1) + '" width="40" height="40"></div>' +

      '   <div class="nombre" style=" ' +
      '   margin-top: 10px; ' +
      '   margin-bottom: 10px; ' +
      '   padding: 10px; ' +
      '   font-size: medium; ' +
      '   width: 100px; ' +
      '   background-color:  rgb(36, 36, 36); ' +
      '   color: antiquewhite; ' +
      '   text-align: center; ' +
      '   text-justify: auto;">' + devolverUser(partida.users,1) + '</div>' +

      '   <div class="vs" style=" ' +
      '   margin-left: 5px; ' +
      '   margin-right: 5px; ' +
      '   margin-top: 10px; ' +
      '   margin-bottom: 10px; ' +
      '   padding-top: 10px; ' +
      '   font-size: x-large; ' +
      '   margin-left: 10px; ' +
      '   margin-right: 10px; ' +
      '   width: 30px; ' +
      '   background-color:  rgb(36, 36, 36); ' +
      '   color: antiquewhite; ' +
      '   text-align: center;">VS</div>' +

      '   <div class="nombre-2" style="' +
      '   margin-top: 10px;' +
      '   margin-bottom: 10px;' +
      '   font-size: medium;' +
      '   padding: 10px;' +
      '   width: 100px;' +
      '   background-color:  rgb(36, 36, 36);' +
      '   color: antiquewhite;' +
      '   text-align: center;">' + devolverUser(partida.users,2) + '</div>' +

      '    <div class="columna-2" style="' +
      '     margin-right: 10px;' +
      '     margin-left: 10px;' +
      '     margin-top: 10px;' +
      '     margin-bottom: 10px;' +
      '     padding: 5px;' +
      '     padding-top: 10px;' +
      '     width: 53px;' +
      '     background-color: rgba(86, 61, 124, .15);' +
      '     border: 1px solid rgba(86, 61, 124, .2);' +
      '     color: antiquewhite;"><img src= "' + devolverClase(partida.clases,2) + '" width="40" height="40"></div>' +

      '   <div class="columna-1-2" style="' +
      '   margin-top: 10px;' +
      '   margin-bottom: 10px;' +
      '   display: flex;' +
      '   padding: 5px;' +
      '   margin-right: 20px;' +
      '   width: 350px;' +
      '   background-color: rgba(86, 61, 124, .15);' +
      '   border: 1px solid rgba(86, 61, 124, .2);' +
      '   color: antiquewhite;' +
      '   text-align: center;"> ' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,1) + '" width="40" height="40"></div>' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,2) + '" width="40" height="40"></div>' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,3) + '" width="40" height="40"></div>' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,4) + '" width="40" height="40"></div>' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,5) + '" width="40" height="40"></div>' +

      '     <div class="item" style=" ' +
      '     padding: 5px; ' +
      '     width: 60px; ' +
      '     color: antiquewhite;"><img src= "' + devolverItem(partida.items,6) + '" width="40" height="40"></div>' +
      '   </div> ' +
      ' </div>'
    );
  }

  function verificarNombre(x) {
     //console.log(x.response[0].users.map(a => console.log(a.name)));
     //console.log(x.response[1].users.map(a => console.log(a.name)));
     //console.log(x.response[1].users.some(a => a.name == $("#buscarjugador").val().toLowerCase()));

    return (x.response[0].users.some(a => a.name == $("#buscarjugador").val().toLowerCase()) || x.response[1].users.some(a => a.name == $("#buscarjugador").val().toLowerCase()));
  }

  function filtrar(x) {
    console.log(x);
    console.log(partidas.response.filter(a => a.clases.filter(b => b.id == x)));
    partidasBuscadas = partidas.response.filter(a => a.clases.some(b => b.id == x));
    // console.log(partidasBuscadas);
    $("#game").html(" ");
    partidasBuscadas.forEach(function (y) {
      mostrarPartida(y);
    });
  }

  function devolverClase(clases, num) {
  // console.log(clases);
    switch(num){ 
    case 1:
      return clases[0].iconClass;
    break;
    case 2:
      return clases[1].iconClass;
    }
  }
  
  function devolverItem(items,num) {
   //console.log(items[0]);
      switch(num){ 
        case 1:
          return items[0].imagen;
        break;
        case 2:
          return items[1].imagen;
        break;
        case 3:
          return items[2].imagen;
        break;
        case 4:
          return items[3].imagen;
        break;
        case 5:
          return items[4].imagen;
        break;
        case 6:
          return items[5].imagen;
        break;
      }
  }

  function devolverUser(users,num) {
  // console.log(users[0]);
      switch(num){ 
        case 1:
          return users[0].name;
        break;
        case 2:
          return users[1].name;
      }
  }

  $(document).ready(function () {

    $('#buscadorjugador').on('submit', function (event) {
      event.preventDefault();
      // console.log($("#buscar").val().toLowerCase());
      console.log(partidas.response.some(a => a.users.some(b => b.name == $("#buscarjugador").val().toLowerCase())));
      partidasBuscadas = partidas.response.filter(partida =>
        partida.users.some(a => a.name == $("#buscarjugador").val().toLowerCase())
      );
      //console.log(partidasBuscadas);
      if (verificarNombre(partidas) == false) {
        $("#valid").html(" ");
        $('#valid').append(
          '<h6>Nombre no encontrado</h6>'
        );
      }
      if (partidasBuscadas.length == 0) {
        $("#game").html(" ");
        partidas.response.forEach(function (x) {
          mostrarPartida(x);
        });
      } else {
        $("#valid").html(" ");
        $("#game").html(" ");
        partidasBuscadas.forEach(function (x) {
          mostrarPartida(x);
        });
      }
    });

    $.get("http://localhost:3000/estadisticas/infoPartidas", function (informacion) {
      partidas = informacion;
      console.log(partidas);
      console.log(informacion);
      /* jugadorUno = informacion.response.filter(partida => partida.jugador == 1);
       jugadorDos = informacion.response.filter(partida => partida.jugador == 2);
       console.log(jugadorUno.filter(a => a.idPartida == jugadorDos.forEach(b => b.idPartida)));*/
      informacion.response.map(partida => mostrarPartida(partida));
    });

    $.get("http://localhost:3000/estadisticas/clases", function (informacion) {
      informacion.response.forEach(function (clase) {
        $("#class").append(
          '  <div class="cuadro" style="' +
          '  margin-left: 15px;' +
          '  margin-top: 15px;' +
          '  display: flex;' +
          '  height: 100px;' +
          '  width: 20%;' +
          '  background-color: rgba(86, 61, 124, .15);' +
          '  border: 1px solid rgba(86, 61, 124, .2);">' +

          '   <div class="cuadrochiquitouno" style="' +
          '   margin-top: 10px;' +
          '   margin-bottom: 10px;' +
          '   margin-left: 10px;' +
          '   height: 80px;' +
          '   width: 40%;"><img src= "' + clase.iconClass + '" width="90" height="80"></div>' +

          '   <div class="cuadrochiquitodos" style="' +
          '   margin-left: 10px;' +
          '   height: 100px;' +
          '   width: 50%;">' +

          '     <div class="cuadrochiquitochiquitouno" style="' +
          '     margin-top: 5px;' +
          '     margin-left: 5px;' +
          '     height: 25px;' +
          '     width: 90%;' +
          '     color: antiquewhite;' +
          '     text-align: center;' +
          '     font-size: medium;">' + clase.nombre + '</div>' +

          '     <div class="cuadrochiquitochiquitodos" style="' +
          '     margin-top: 8px;' +
          '     margin-left: 5px;' +
          '     height: 25px;' +
          '     width: 90%;' +
          '     color: antiquewhite;' +
          '     text-align: left;' +
          '     font-size: medium;">W: ' + clase.winrate + '</div>' +

          '     <div class="cuadrochiquitochiquitotres" style="' +
          '     margin-top: 8px;' +
          '     margin-left: 5px;' +
          '     height: 25px;' +
          '     width: 90%;' +
          '     color: antiquewhite;' +
          '     text-align: left;' +
          '     font-size: medium;">L: ' + clase.loserate + '</div>' +
          '   </div>' +
          '  </div>'
        );
      });
    });

    $.get("http://localhost:3000/estadisticas/jugadores", function (informacion) {
      console.log(informacion);
      informacion.response.forEach(function (jugador) {
        $("#player").append(
          '  <div class="cuadro2" style="' +
          '  margin-left: 15px;' +
          '  margin-top: 15px;' +
          '  height: 160px;' +
          '  width: 15%;' +
          '  background-color: rgba(86, 61, 124, .15);' +
          '  border: 1px solid rgba(86, 61, 124, .2);">' +

          '   <div class="cuadro2chiquitouno" style="' +
          '   height: 100px;' +
          '   width: 100%;"><img src= "' + jugador.iconPlayer + '" width="170" height="100"></div>' +

          '   <div class="cuadro2chiquitodos" style="' +
          '   height: 60px;' +
          '   width: 100%;">' +

          '     <div class="cuadro2chiquitochiquitouno" style="' +
          '     height: 30px;' +
          '     width: 100%;' +
          '     color: antiquewhite;' +
          '     text-align: center;' +
          '     font-size: medium;">' + jugador.user.name + '</div>' +

          '     <div class="cuadro2chiquitochiquitodos" style="' +
          '     height: 30px;' +
          '     width: 100%;' +
          '     color: antiquewhite;' +
          '     text-align: center;' +
          '     font-size: medium;">' + jugador.winrate + '</div>' +
          '   </div>' +
          '  </div>'
        );
      });
    });
    $.get("http://localhost:3000/users/", function (informacion) {
      cuentas = informacion;
    });
    $.get("http://localhost:3000/users/logueado", function (informacion) {
      var cuentaconectada = informacion.idconectado;
      if (cuentas.usuarios[cuentaconectada - 1].conectado == "true") {
        $("#ingresar").remove();
        $("#conectado").append(
          '<a class="nav-link" href="./perfil.html" style="color: white;">Perfil</a>'
        );
        $("#navbar").append(
          '<li class="nav-item" style="padding-left: 420px;padding-top: 2px;">' +
          '<a id = "cerrarsesion"class="btn btn-secundary" style="background-color: #666666;color: white;""' +
          'role="Cerrarsesion">Cerrar Sesión</a>' +
          '</li>'
        );
        $('#cerrarsesion').click(function () {
          $.ajax({
            url: "http://localhost:3000/users/login",
            type: "PUT",
            data: {
              usuarioid: cuentaconectada,
              conectado: false
            },
            success: function (result) {
              alert("Sesión cerrada con éxito!");
              location.reload();
            },
          });
        });
      }
      else {
        $("#cerrarsesion").remove();
      }
    });
  });
</script>