<title>FAQ</title>
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">FALG FAQ</h1>
      <p>En esta seccion podrás ver preguntas frecuentes sobre el juego o la página.</p>
    </div>
  </div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingZero">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseZero">
          
        </button>
      </h5>
    </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          ¿Cómo puedo descargar el juego?
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          El juego se puede descargar a través de la sección Descarga.
      <img src="https://1.bp.blogspot.com/-t8MIzx6VAHQ/XVxuhVt8_1I/AAAAAAAAizU/c3McULsGKOIxltYDKTExH2DHZw_ZpU-KACLcBGAs/s1600/Spidey_WTF.gif"/>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿De que manera puedo registrarme?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Para registrarse, dirigirse a la sección de Ingresar, luego... 
        <img src="https://thumbs.gfycat.com/DisloyalMildGermanshepherd-size_restricted.gif"/>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Si pierdo mi cuenta, ¿Qué puedo hacer?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        En caso de problemas con la cuenta, ingresar en la sección de Soporte y...
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingZero">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseZero">
          
        </button>
      </h5>
    </div>
 </div>
</div>
</main>
