<title>FAQ</title>
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">FALG FAQ</h1>
      <p>En esta seccion podrás ver preguntas frecuentes sobre el juego o la página.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>

          <body>
            <p style="color:white;">¿Cómo puedo descargar el juego?</p>
          </body>
        </h2>
        <p style="color:white;">El juego se puede descargar a través de la sección Descarga.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Leer mas &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>

          <body>
            <p style="color:white;">¿De que manera puedo registrarme?</p>
          </body>
        </h2>
        <p style="color:white;">Para registrarse, dirigirse a la sección de Ingresar, luego...</p>
        <p><a class="btn btn-secondary" href="#" role="button">Leer mas &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>

          <body>
            <p style="color:white;">Si pierdo mi cuenta, ¿Qué puedo hacer?</p>
          </body>
        </h2>
        <p style="color:white;">En caso de problemas con la cuenta, ingresar en la sección de Soporte y...</p>
        <p><a class="btn btn-secondary" href="#" role="button">Leer mas &raquo;</a></p>
      </div>
    </div>
    <hr>
  </div>
</main>