<title>Ingreso</title>
<div style="text-align: center; padding-top: 50px; color: white;">
    <h3>Ingresar</h3>
  </div>

  <form id="ingreso" style="padding-left: 600px; width: 1300px; color: white;">
    <div class="form-group">
      <label for="exampleInputEmail1">Correo electrónico</label>
      <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="contraseña" />
      <small id="emailHelp" class="form-text text-muted">Nunca compartas tu contraseña con nadie</small>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">No soy un robot</label>
    </div>
    <button type="submit" class="btn btn-secundary" style="background-color: #666666; color: white;" role="Ingresar">
      Entrar
    </button>
  </form>
  <a href="#" data-toggle="modal" data-target="#exampleModalCenter" style="margin-left: 1150px;">Olvide mi
    contraseña</a>
  <div style="padding-top: 30px; text-align: center; color: white;">
    <h3>
      ¿No tienes una cuenta?
      <a class="btn btn-secundary" style="background-color: #666666; color: white;" href="http://localhost:3000/users/registro"
        role="Ingresar">Registrate ahora!</a>
    </h3>
  </div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-color: #343a40; color: white;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Cambio de contraseña
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputPassword1">Correo electrónico</label>
            <input type="text" class="form-control" id="inputMail" placeholder="ejemplo@hotmail.com" />
            <label for="exampleInputPassword1">Nueva contraseña</label>
            <input type="password" class="form-control" id="inputContra" placeholder="Contraseña nueva" />
            <label for="exampleInputPassword1">Confirmar contraseña</label>
            <input type="password" class="form-control" id="inputContra" placeholder="Confirmar contraseña" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button id="modalBotonSalvar" class="btn btn-primary">
            Guardar cambios
          </button>
        </div>
      </div>
    </div>
</div>
<script>
  var cuentas = [];
  var ipusuario = "";
  var usuarioid = "";
  var correoencontrado = "";//fijarse si esto todavia sirve
  var contraencontrada = "";
  var i = 0;
  $(document).ready(function () {
    $.get("http://localhost:3000/users/", function (informacion) {
      cuentas = informacion.cuentas;
    });

    $.getJSON("https://api.ipify.org/?format=json", function (e) {
      ipusuario = e.ip;
    });

    $("#ingreso").on("submit", function (event) {
      event.preventDefault();
      cuentas.forEach(function(cuenta){
        if(cuenta.email == $("#correo").val()){
          usuarioid = cuenta.id;
          correoencontrado = true;
        }
      });
      if(correoencontrado != true) {
        alert("El correo ingresado no existe");
        return 0;
      }
      cuentas.forEach(function(cuenta){
        if(cuenta.password == $("#contraseña").val()){
          //poner aca un append que agregue como un tick verde para indicar que se ingreso la contra y el correo bien HOLA SOY YO MISMO DEL FUTURO ALTERNO
          // ESTO YA ESTA PUESTO EN CREAR LAPUBLICACION, ROBAR DE AHI EL TICK VERDE Y GANAS
          usuarioid = cuenta.id;
          contraencontrada = true;
        }
      });
      if (contraencontrada != true) {
        alert("La contraseña ingresada no existe");
        return 0;
      }
      $.ajax({
        url: "http://localhost:3000/users/login",
        type: "PUT",
        data: {
          usuarioid: usuarioid,
          conectado: 1
        },
        success: function (result) {
          alert("Ingreso correcto");
          correoencontrado = false;
          contraencontrada = false;
          location.href = "http://localhost:3000/index/index";
        },
      });
    });
    $("#modalBotonSalvar").on("click", function (event) {//cambio de contraseña
      event.preventDefault();
      var inputMail = $("#inputMail").val();
      var inputContra = $("#inputContra").val();
      var users = cuentas.usuarios;
      var usuarioIdentificado = users.find((user) => {
        return user.correo == inputMail;
      });
      if (usuarioIdentificado != 0) {
        $.ajax({
          url: "http://localhost:3000/users/" + usuarioIdentificado.id,
          type: "PUT",
          data: {
            newPassword: inputContra,
          },
          success: function (result) {
            alert("Tu contraseña fue cambiada con exito");
          },
        });
      }
    });
  });
</script>