<title>Items</title>
<div class = "container" style="display: flex;" id = "items">
    <div class = "cuadro" style="display: block; margin: 20px; height: 200px; width: 600px; border: 3px solid transparent; border-color: rgba(82, 80, 80, 0.658); background-color: rgba(82, 80, 80, 0.658); border-radius: 10px; margin-top: 50px;">
         <div class = "titulo" style="background-color:  red; color: yellow; text-align: center; width: 590px; height: 40px; margin-top: 10px;"></div> 
         <div class = "descripcion" style="background-color:  green; color: yellow; text-align: center; width: 590px; height: 130px; margin-top: 10px"></div> 
    </div>
</div>

<script>
    /* backgrounds
background-color:  red;
background-color: green;
background-color: yellow"
 background-color: rgb(0, 183, 255)
  background-color: rgb(255, 0, 191)
   background-color: rgb(0, 38, 255)
    background-color: rgb(255, 153, 0)
    
    function mostrarItems(item) {
        $("#items").append(
            '<div class = "cuadro" style="margin: 20px; height: 300px; width: 250px; border: 3px solid transparent; border-color: rgba(82, 80, 80, 0.658); background-color: rgba(82, 80, 80, 0.658); border-radius: 10px; display: block; margin-top: 50px;">'+
            '    <div class = "titulocuadro" style="color: yellow; text-align: center; font-size: 20px; padding: 1}5px;">'+ item.nombre +'</div>'+
            '    <div class = "imagencuadro" style="color: yellow; text-align: center; width: 150px; height: 100px; margin-left: 45px;"><img src= "' + item.imagen + '" width="100px" height="100px"></div>'+
            '    <div class = "daño" style="color: yellow; text-align: center; width: 244px; height: 26px;">Daño:  '+ item.daño +'</div>'+
            '    <div class = "vida" style="color: yellow; text-align: center; width: 244px; height: 26px;">Vida:  '+ item.vida +'</div>'+
            '    <div class = "resistencia" style="color: yellow; text-align: center; width: 244px; height: 26px;">Resistencia:  '+ item.resistencia +'</div>'+
            '    <div class = "mana" style="color: yellow; text-align: center; width: 244px; height: 26px;">Mana:  '+ item.mana +'</div>'+
            '    <div class = "cdr" style="color: yellow; text-align: center; width: 244px; height: 26px;">CDR:  '+ item.cdr +'</div>'+
            '</div>'
        );
    }
    $(document).ready(function () {
        $.get("http://localhost:3000/items/a", function( informacion ){
        console.log(informacion);
        informacion.map(x => mostrarItems(x));
      });
    });*/
</script>