<title>Soporte</title>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Soporte técnico</h1>
  </div>
</div>

<div style="padding-left: 650px ;">
  <p><a style="width: 600px" ; class="btn btn-secondary" href="http://localhost:3000/users/ingreso" role="button">Cambio de contraseña </a></p>
  <p><a style="width: 600px" ; class="btn btn-secondary" href="http://localhost:3000/index/formulario" role="button">Problemas con el Juego </a></p>
  <p><a style="width: 600px" ; class="btn btn-secondary" href="http://localhost:3000/index/formulario" role="button">Problemas con la página </a></p>
  <p><a style="width: 600px" ; class="btn btn-secondary" href="http://localhost:3000/index/formulario" role="button">¿Otro problema? </a></p>
</div>