<title>Soporte</title>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Soporte técnico</h1>
  </div>
</div>

<div id="accordion">
  <div class="card "style="background-color: rgb(36, 36, 36);">
    <div class="card-header" id="headingZero">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseZero">
          
        </button>
      </h5>
    </div>
    <div class="">
  <div class="card bg-danger">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn text-white" style="background-color: #1b1c1b;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Cambio de contraseña
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          zzzz
      <br></>
      <br>
      </div>
    </div>
  </div>
  <div class="card bg-danger">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn text-white" style="background-color: #1b1c1b;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Problemas con la página
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        zzz
        <br></><br>
      </div>
    </div>
  </div>
  <div class="card bg-danger">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn text-white" style="background-color: #1b1c1b;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Problemas con la cuenta
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        aa
      </div>
    </div>
    <div class="card-right bg-danger">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn text-white" style="background-color: #1b1c1b;" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Problemas con el juego
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        aa
      </div>
    </div>
  </div>
  </div>
    <div class="card "style="background-color: rgb(36, 36, 36);">
    <div class="card-header" id="headingZero">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseZero">
        </button>
      </h5>
    </div>
 </div>
</div>
</main>
