<title>Soporte</title>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Soporte técnico</h1>
  </div>
</div>

<div class="container bg-dark " style="height: 500px;">

  <div class="row d-flex align-items-center mt-5" style="height: 10%;" >


      <div class="col-sm">
        <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
          data-target="#ejemplo" aria-expanded="false" aria-controls="collapseSeven">
          Problemas c
        </button>
      </div>

      <div class="col-sm">
        <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
          data-target="#dos" aria-expanded="false" aria-controls="collapseSeven">
          Problemas d
        </button>
      </div>

      <div class="col-sm">
        <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
          data-target="#tres" aria-expanded="false" aria-controls="collapseSeven">
          Problemas e
        </button>
      </div>

  </div>

  <div id="ejemplo" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>
  </div>

  <div id="dos" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>
  </div>

  <div id="tres" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>
  </div>

  <div class="row d-flex align-items-center mt-5" style="height:  10%;">
    <div class="col-sm">
      <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
        data-target="#cuatro" aria-expanded="false" aria-controls="collapseSeven">
        Problemas f
      </button>

    </div>
    <div class="col-sm">
      <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
        data-target="#cinco" aria-expanded="false" aria-controls="collapseSeven">
        Problemas g
      </button>

    </div>
    <div class="col-sm">
      <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
        data-target="#seis" aria-expanded="false" aria-controls="collapseSeven">
        Problemas h
      </button>
    </div>
  </div>

<div id="cuatro" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>
  </div>

  <div id="cinco" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>
  </div>

  <div id="seis" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>
  </div>
</div>



</main>
