<title>Soporte</title>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Soporte técnico</h1>
  </div>
</div>

<div class="container bg-dark " style="height: 600px;">

  <div class="row d-flex align-items-center mt-5" style="height: 10%;" >


      <div class="col-sm">
        <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
          data-target="#ejemplo" aria-expanded="false" aria-controls="collapseSeven">
          Cambio de contraseña
        </button>
      </div>

      <div class="col-sm">
        <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
          data-target="#dos" aria-expanded="false" aria-controls="collapseSeven">
          Problemas con la página
        </button>
      </div>

      <div class="col-sm">
        <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
          data-target="#tres" aria-expanded="false" aria-controls="collapseSeven">
          
          Problemas con la cuenta
        </button>
      </div>

  </div>

  <div id="ejemplo" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>Para cambiar la contraseña del usuario, hay que dirigirse a ingresar y luego seleccionar el boton de cambiar contraseña (muybueno)</strong> 
</div>
  </div>

  <div id="dos" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>La página se traba o se relantiza? Una forma de solucionar es borrar el cache de tu buscador</strong> 
</div>
  </div>

  <div id="tres" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>No podes acceder a tu cuenta? Podes cambiar la contraseña o enviar un reporte al staff </strong> 
</div>
  </div>

  <div class="row d-flex align-items-center mt-5" style="height:  10%;">
    <div class="col-sm">
      <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
        data-target="#cuatro" aria-expanded="false" aria-controls="collapseSeven">
        Problemas con el juego
      </button>

    </div>
    <div class="col-sm">
      <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
        data-target="#cinco" aria-expanded="false" aria-controls="collapseSeven">
        ¿Cómo puedo descargar el juego?
      </button>

    </div>
    <div class="col-sm">
      <button class="btn text-white" style="width: 300px;background-color: #1b1c1b;" data-toggle="collapse"
        data-target="#seis" aria-expanded="false" aria-controls="collapseSeven">
        Si pierdo mi cuenta, ¿Qué puedo hacer?
      </button>
    </div>
  </div>

<div id="cuatro" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>En caso de tener problemas con el juego se puede tratar de reinstalar el juego para arreglar la falla y si persiste se podra enviar un reporte al staff que logre solucionarlo(?)</strong> 
</div>
  </div>

  <div id="cinco" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>El juego se puede descargar a través de la sección Descarga.</strong> 
</div>
  </div>

  <div id="seis" class="collapse   " style="height: 30%;">
    <div class="alert alert-warning collapse show " role="alert">
  <strong>En caso de problemas con la cuenta, ingresar en la sección de Ayuda y Generar un reporte, para enviar un e-mail al Staff </strong> 
  
</div>
  </div>
  <div class="row d-flex align-items-center mt-5" style="height: 20%;" >
    <div class="btn text-white h3" role="button"data-placement="center"style="margin-left: 300px ;width: 450px; background transparent;" aria-pressed="true">
      <h1>Otro Problema?</h1>
    </div>
  <div class="col-sm">
      <button class="btn text-white" style="background transparent"  data-toggle="collapse"
        data-target="#seis" aria-expanded="false" aria-controls="collapseSeven">
        
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-center">
      <a href="http://localhost:3000/index/formulario" class="btn text-white" role="button"data-placement="center"style="margin-left: -38px ;width: 250px; background-color: #1b1c1b;" aria-pressed="true">
       Generar<br> Reporte<br/>
      </a>
    </div>
  </div>
  <div class="col-sm">
      <button class="btn text-white" style="background transparent" data-toggle="collapse"
        data-target="#seis" aria-expanded="false" aria-controls="collapseSeven">
        
      </button>
    </div>
    </div>
  </div>
</div>



</main>
