<title>terminos y condiciones</title>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Política de Privacidad</h1>
    <p class="lead">Esta Política de privacidad rige la forma en que Falg recopila, utiliza, mantiene y divulga la
      información recopilada de los usuarios (cada uno, un "Usuario") del sitio web http://www.falg.net ("Sitio"). Esta
      política de privacidad se aplica al Sitio y a todos los productos y servicios ofrecidos por Falg.</p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Información de identificación personal</h1>
    <p class="lead">Podemos recopilar información de identificación personal de los Usuarios de varias maneras, que
      incluyen, entre otras, cuando los Usuarios visitan nuestro sitio, se registran en el sitio, completan un
      formulario y en relación con otras actividades, servicios, características o recursos que poner a disposición en
      nuestro sitio. Se puede solicitar a los usuarios, según corresponda, una dirección de correo electrónico. Sin
      embargo, los usuarios pueden visitar nuestro sitio de forma anónima. Recopilaremos información de identificación
      personal de los Usuarios solo si voluntariamente nos envían dicha información. Los usuarios siempre pueden negarse
      a proporcionar información de identificación personal, excepto que puede evitar que participen en ciertas
      actividades relacionadas con el Sitio.</p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Información de identificación no personal</h1>
    <p class="lead">Podemos recopilar información de identificación no personal sobre los Usuarios cuando interactúan
      con nuestro Sitio. La información de identificación no personal puede incluir el nombre del navegador, el tipo de
      computadora y la información técnica sobre los medios de conexión de los Usuarios a nuestro Sitio, como el sistema
      operativo y los proveedores de servicios de Internet utilizados y otra información similar. </p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Cookies del navegador web</h1>
    <p class="lead">Nuestro sitio puede usar "cookies" para mejorar la experiencia del usuario. El navegador web del
      usuario coloca cookies en su disco duro con fines de mantenimiento de registros y, a veces, para rastrear
      información sobre ellos. El usuario puede optar por configurar su navegador web para rechazar las cookies, o para
      avisarle cuando se envían cookies. Si lo hacen, tenga en cuenta que algunas partes del Sitio pueden no funcionar
      correctamente. </p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Cómo usamos la información recopilada</h1>
    <p class="lead">
      Falg puede recopilar y utilizar la información personal de los Usuarios para los siguientes propósitos:
      - Para mejorar el servicio al cliente
      La información que proporciona nos ayuda a responder a sus solicitudes de servicio al cliente y necesidades de
      soporte de manera más eficiente.
      - Para personalizar la experiencia del usuario
      Podemos usar información en conjunto para comprender cómo nuestros Usuarios como grupo usan los servicios y
      recursos proporcionados en nuestro Sitio.
      - Para mejorar nuestro sitio
      Podemos utilizar los comentarios que nos proporcione para mejorar nuestros productos y servicios. </p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Cómo protegemos su información</h1>
    <p class="lead">Adoptamos prácticas adecuadas de recopilación, almacenamiento y procesamiento de datos y medidas de
      seguridad para proteger contra el acceso no autorizado, la alteración, la divulgación o la destrucción de su
      información personal, nombre de usuario, contraseña, información de transacciones y datos almacenados en nuestro
      Sitio. Aunque Falg no garantiza que nunca ocurrirá un acceso no autorizado. </p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Compartir su información personal</h1>
    <p class="lead">No vendemos, intercambiamos ni alquilamos información de identificación personal de los Usuarios a
      terceros. Podemos compartir información demográfica agregada genérica no vinculada a ninguna información de
      identificación personal con respecto a visitantes y usuarios con nuestros socios comerciales, afiliados de
      confianza y anunciantes para los fines descritos anteriormente. </p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Cambios a esta política de privacidad</h1>
    <p class="lead">Falg tiene la discreción de actualizar esta política de privacidad en cualquier momento. Cuando lo
      hagamos, revisaremos la fecha actualizada al final de esta página. Alentamos a los usuarios a consultar con
      frecuencia esta página para ver si hay cambios y mantenerse informados sobre cómo estamos ayudando a proteger la
      información personal que recopilamos. Usted reconoce y acepta que es su responsabilidad revisar esta política de
      privacidad periódicamente y conocer las modificaciones. </p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Su aceptación de estos términos.</h1>
    <p class="lead">Al usar este Sitio, usted expresa su aceptación de esta política y los términos del servicio. Si no
      está de acuerdo con esta política, no utilice nuestro sitio. Su uso continuado del Sitio después de la publicación
      de cambios a esta política se considerará su aceptación de dichos cambios. </p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Contáctenos</h1>
    <p class="lead">Si tiene alguna pregunta sobre esta Política de privacidad, las prácticas de este sitio o sus tratos
      con este sitio, contáctenos vía:
    <p>EMAIL: FALG@GMAIL.COM </p>
    <p>FACEBOOK: @FALG </p>
    <p>TWITTER: @FALG </p>
    </p>
  </div>
</div>